<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
</head>
<body>
    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        {{ profile_form.as_p }}
        {% if form.errors %}
        <p>There are errors in the form!</p>
        {% endif %}

        <input type="submit" value="Register">
    </form>
</body>
</html>